@forward "./reset.scss";

// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=Nosifer&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// Define global variables
:root {
  --halloween-color: rgb(235, 97, 35);
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 8px 16px 0 rgba(19, 1, 1, 0.923);
  --button-background-hover: rgba(235, 97, 35, 0.4);
}

// Define reusable variables
$font-nosifer: Nosifer, cursive;
$font-size-halloween: 2rem;

// Styles for Halloween-themed element
.halloween {
  font-family: $font-nosifer;
  font-size: $font-size-halloween;
  margin: 3rem 0;

  @media only screen and (max-width: 350px) {
    margin: 0;
  }
}

.halloweenContainer {
  width: 100vw;
  height: 100vh;
  background-color: var(--halloween-color);
}

// Styles for container
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  // padding: 0 5rem;
}

//styles for table
.table {
  &__container {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 100%;
    width: 100%;
    margin: 0 0 4rem 0;
    padding: 0 10rem;

    @media only screen and (max-width: 810px) {
      padding: 0;
    }
  }
}

//style for grid container
.grid {
  &__container {
    display: grid;
    width: 100%;
    gap: 4rem;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);

    //styles for media
    @media only screen and (max-width: 810px) {
      gap: 0.5rem;
    }
  }
}

// Styles for centered elements
.centerCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // margin: 0 0 72px 0;
}

.centerText {
  text-align: center;
}

// Styles for card
.card {
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
  width: 100%;
  position: relative;

  @media only screen and (max-width: 350px) {
    .card {
      max-width: 100%; /* Ensure the card doesn't exceed the screen width */
    }
  }

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }

  &__imageContainer {
    width: 100%;
    height: auto;
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
    border: solid 0.5rem var(--halloween-color);
    max-width: 100%;
    display: block;
  }

  &__name {
    text-align: center;
    font-weight: 600;
    margin: 1rem;

    @media only screen and (max-width: 350px) {
      margin: 0;
    }
  }
}

// Styles for pagination
.pagination {
  padding: 32px 64px;
  display: flex;
  flex-wrap: wrap;

  &__dots {
    // width: 3.75rem;
    // height: 3.75rem;
    font-size: 2rem;
    padding: 16px;
    color: var(--halloween-color);
  }

  &__btn {
    width: 3.75rem;
    height: 3.75rem;
    border: none;
    background-color: transparent;
    margin: 16px;
    border-radius: 10px;
    font-size: 1.5rem;
    border: solid 0.15rem var(--halloween-color);
    text-decoration: none;
    color: var(--halloween-color);

    &:hover {
      background-color: var(--button-background-hover);
      color: #ffffff;
    }

    &:disabled {
      cursor: not-allowed;
      box-shadow: none;
      color: gray;
      border: solid 0.15rem gray;
    }

    &--selected {
      color: black;
      background-color: var(--halloween-color);
      box-shadow: none;
    }
  }
}

@media only screen and (max-width: 350px) {
  * {
    margin: 0;
    padding: 0;
  }

  .card {
    max-width: 100%; /* Ensure the card doesn't exceed the screen width */
  }
}
